# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.orig

# IDEs
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id
**/android/local.properties
**/android/.gradle/
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Firebase / Secrets
google-services.json
GoogleService-Info.plist
.env
*.keystore
*.jks
key.properties

# Coverage
coverage/

# Fastlane (if using for CI/CD)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Temporary
tmp/
temp/
